ConnectionStrings__Default="Host=localhost;Database=smart_university;Username=postgres;Password=1441"

# jwt related environement variables
JWT__Secret="Kj82Jf9$QmLxP7Z@W2#E8R!dVt4s0A1BAddisAbabaUniversity"
JWT__Issuer="SmartUniversity"
JWT__Audience="SmartUniversityUsers"

# SMTP related environment variables

SMTP__User='gigadummy@gmail.com'
SMTP__Password="abs ccc egbb fswm"

# RabbitMQ related environement variables

RABBITMQ__HOST=localhost
RABBITMQ__USERNAME=guest
RABBITMQ__PASSWORD=guest

# Gemini
OpenAi__ApiKey="your_openai_api_key"
